@use '../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container { 
    padding: 20px 40px;
    background-color: $grey-1;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 80px;
    position: relative;
    overflow: hidden;
    border: 2px solid $grey-1;
    transition: background-color 0.3s ease;
    z-index: 1;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    box-sizing: border-box;
    &:disabled {
        background-color: #cecece;
        border-color: #bcbcbc;
        pointer-events: none;
    }
    svg {
        width: 20px;
        height: 20px;
        animation-name: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    @media (max-width: 768px) {
        width: 100%;
        padding: 16px auto;
        font-size: 18px;
        line-height: 20px;
    }
    &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 80px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .2s;
        z-index: -1;
    }
    &:hover {
        color: $grey-1;
        &::before {
            transform: scale(30);
            background-color: $white;
            @media (max-width: 768px) {
                transform: scale(40);
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
