@use '../../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container { 
    &Menu {
        display: flex;
        align-items: center;
        list-style: none;
        li {
            p {
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0.20000000298023224px;
                margin-right: 16px;
                color: $grey-1;
                @media ( max-width: 768px ) {
                    display: none;
                }
            }
            a {
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.4000000059604645px;
                text-decoration: none;
                color: $grey-1;
                @media ( max-width: 768px ) {
                    font-size: 16px;
                }
                svg {
                    margin-right: 8px;
                }
            }
        }
    }
}