/* UI KIT */
$primary    : #141938;
$secondary  : #4F4FFF;
$tertiary   : #FF1C44;

$grey-1     : #03050F;
$grey-2     : #D7DBF5;
$grey-10    : #F8F9FF;
$grey-60    : #5E6488;

$sky_blue   : #00F4E2;
$green      : #00FF7F;
$neutral    : #7981B2;

$white      : #FFFFFF;