@use '../../../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    padding: 0 16px;
    box-sizing: border-box;
    @media (max-width: 768px) {
        padding: 24px 0;
        padding-bottom: 0;
    }
    label {
        cursor: pointer;
        > div {
            min-width: 256px;
            text-align: left;
            position: relative;
            span {
                width: 24px;
                height: 24px;
                padding: 4px 5px;
                position: absolute;
                right: 24px;
                top: 16px;
                border: 1px solid #A9AFD9;
                border-radius: 30px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    display: none;
                    color: white;
                }
            }
            img {
                margin-bottom: 8px;
                @media (max-width: 768px) { 
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 20px;
                font-weight: 900;
                line-height: 28px;
                color: $primary;
                margin: 0;
                margin-bottom: 8px;
            }
            small {
                color: $primary;
                display: block;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
            }
        }
        input {
            display: none;
            &:checked + div {
                outline: 3px solid #03050F;
                span {
                    background-color: #389E0D;
                    border-color: #389E0D;
                    svg {
                        display: block;
                    }
                }
            }
        }
    }
}