
@font-face {
    font-family: RimacDisplay;
    src: url(https://www.rimac.com/fonts/Rimac-Display.woff2) format("woff2"), url(https://www.rimac.com/fonts/Rimac-Display.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: BR Sonoma;
    src: url(https://www.rimac.com/fonts/BRSonoma-Regular.woff2) format("woff2"), url(https://www.rimac.com/fonts/BRSonoma-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: BR Sonoma;
    src: url(https://www.rimac.com/fonts/BRSonoma-Medium.woff2) format("woff2"), url(https://www.rimac.com/fonts/BRSonoma-Medium.woff) format("woff");
    font-weight: 500;
    font-display: swap
}

@font-face {
    font-family: BR Sonoma;
    src: url(https://www.rimac.com/fonts/BRSonoma-SemiBold.woff2) format("woff2"), url(https://www.rimac.com/fonts/BRSonoma-SemiBold.woff) format("woff");
    font-weight: 600;
    font-display: swap
}

@font-face {
    font-family: BR Sonoma;
    src: url(https://www.rimac.com/fonts/BRSonoma-Bold.woff2) format("woff2"), url(https://www.rimac.com/fonts/BRSonoma-Bold.woff) format("woff");
    font-weight: 700;
    font-display: swap
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: BR Sonoma,RimacDisplay,Helvetica,Arial,sans-serif
}