@use '../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    width: 100%;
    height: 6px;
    display: block;
    border-radius: 40px;
    background-color: $grey-2;
    position: relative;
    > span {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: $secondary;
        border-radius: 40px;
    }
}