.container {
    max-width: 440px;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        padding-right: 12px;
    }
    h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        @media (max-width: 768px) {
            font-size: 28px;
            font-weight: 700;
            line-height: 36px;
        }
    }
}