@use '../../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container { 
    background-color: #EDEFFC;
    padding: 16px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    p {
        display: flex;
        align-items: center;
        margin-right: 16px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: $neutral;
        &:last-child {
            &::after {
                content: none;
            }
        }
        &::after {
            content: '';
            width: 32px;
            border: 1px dashed $secondary;
            margin-left: 16px;
        }
        &.active {
            color: $primary;
            span {
                outline-color: $secondary;
                background-color: $secondary;
                color: white;
            }
        }
        span {
            width: 24px;
            height: 24px;
            background-color: transparent;
            outline: 1px solid $neutral;
            display: block;
            margin-right: 16px;
            color: $neutral;
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
        }
    }
    &Return {
        width: 75%;
        max-width: 1600px;
        margin: auto;
        margin-top: 40px;
        display: flex;
        align-items: center;
        p {
            width: 100%;
            font-size: 10px;
            font-weight: 900;
            line-height: 16px;
            color: $primary;
            display: flex;
            align-items: center;
            white-space: nowrap;
            > span {
                margin-left: 16px;
            }
        }
        button {
            background-color: transparent;
            border: none;
            color: $secondary;
            display: flex;
            align-items: center;
            svg { 
                font-size: 25px;
                color: $secondary;
                margin-right: 8px;
            }
            span {
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                color: $secondary;
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
}

.mobile {
    width: 100%;
    padding: 16px 24px;
    margin-top: 0;
    border-bottom: 1px solid $grey-2;
}