.container {
  position: relative;
    overflow: hidden;
    width: 100%;
    &Track {
      display: flex;
      transition: transform 0.5s ease-in-out;
      &__card {
        flex: 0 0 auto;
        margin-right: 16px; 
      }
    }
    &Info {
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__prev, &__next {
        cursor: pointer;
      }
      svg {
        font-size: 32px;
        color: #4F4FFF;
      }
      p {
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #141938;
        margin: auto 16px;
      }
    }
}
