@use '../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    min-height: 100vh;
    background-color: #FAFBFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    &Information { 
        max-width: 544px;
        margin: auto;
        text-align: center;
        margin-top: 56px;
        box-sizing: border-box;
        @media (max-width: 768px) { 
            width: 100%;
            padding: 24px;
            margin-top: 8px;
        }
        h3 {
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 8px;
            color: $primary;
            @media (max-width: 768px) { 
                font-size: 28px;
                text-align: left;
            }
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 32px;
            color: $primary;
            display: flex;
            flex-direction: column;
            img {
                width: 48px;
                height: 48px;
                @media (max-width: 768px) { 
                    width: 32px;
                    height: 32px;
                    margin-right: 8px;
                }
            }
            @media (max-width: 768px) { 
                font-size: 16px;
                text-align: left;
                margin-bottom: 0;
                flex-direction: row;
                align-items: center;
            }
        }
    }
    &Cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media (max-width: 768px) { 
            flex-direction: column;
        }
    }
    &Plans {
        max-width: 1060px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 80px;
        gap: 32px;
        > div {
            max-width: 70%;
            flex: 1;
            padding: 68px 32px;
            padding-top: 10px;
            @media (max-width: 768px) {
                max-width: 90%;
            }
        }
        ul {
            li {
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 24px;
                list-style: none;
            }
        }
        button {
            width: 100%;
            font-size: 18px;
            margin-top: 16px;
            padding: 14px 30px;
        }
    }
}
