.container { 
    height: 100%;
    background-image: url('/assets/images/banner/image 220.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    grid-area: image;
    @media (max-width: 768px) {
        width: 100%;
        height: 160px;
    }
}